.main {
  display: grid;
  grid-template-columns: 50% 50%;
box-sizing: border-box;
min-width: 280px;
max-width: 90%;
height:65vh;
  margin:5px;

}
.show {
    display: flex;
    flex-direction: column!important;
    height: 100%;
    padding: 0px 1vw;
    border: 1px solid var(--defaultgrey);
    border-radius: 5px;
    overflow-y: auto;
    container-name: "show";
    container-type: inline-size;
    min-width:140px
  }
  .showBorderless {
    display: flex;
    flex-direction: column!important;
    height: 100%;
    overflow-y: auto;

  }
  .edit {
    display: flex;
    flex-direction: column!important;
    flex-grow: 1;
    border: 1px solid var(--defaultgrey);
    border-radius: 5px;
    overflow-y: auto;
  
  }
  .editor {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid var(--defaultgrey);
    border-radius: 5px;
    font-size: smaller;
    overflow-y: auto;
  }
  .results {
    margin:5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height:20vh;
    padding: 4px;
    border: 1px solid var(--defaultgrey);
    border-radius: 5px;
    font-size: smaller;
  }
  .buttonGroups{
    display: grid;
    width: 100%;
  }
  @container(width>300px){
    .buttonGroups{
    grid-template-columns: 1fr 2fr;

    }
  }
  @container(width<=300px){
    .buttonGroups{
    grid-template-columns: 1fr;
    }
  }
  @container(width<=150px){
    .buttons{
      justify-content: left!important;
    }
  }
  .buttons{
    display: grid;
    grid-template-columns: repeat(auto-fit,64px);
  min-width: 140px;
  width: 100%;
  justify-content: center;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
  }