.button{
    width:75px;
    padding: 2%;
    border-radius: 10%;
    font-weight: bold;
    box-shadow:black 1px;
    box-sizing: border-box;
    cursor:pointer
}
.on{
    background-color: greenyellow;
    color: black;
    
}
.off{
    background-color: red;
    color: black;
}