.table {
box-sizing: border-box; /* Include padding and border in the table width */
    border-collapse: collapse; /* Combine border to avoid double spacing */
    padding: 0%;
    width: 375px;  /* Set a fixed width */
  height: min-content;
  margin-right:20px
}
.th {
    padding: 5px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust border size */
    overflow-wrap: anywhere; /* Break long words */
    word-wrap: break-word;
    background-color: #1c5f3a;
    color:aliceblue;
    height:min-content


}
.td {
    padding: 5px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust border size */
    overflow-wrap: anywhere; /* Break long words */
   /* word-wrap: break-word;*/
    word-break: break-all;

}
.namer{
    width:100px;
}
.h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
}
.triangle{
    width:0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--foreground);
    align-self: center;
    margin:5px
}
.fold{
    cursor:pointer
}