.table {
box-sizing: border-box; /* Include padding and border in the table width */
    border-collapse: collapse; /* Combine border to avoid double spacing */
    padding: 0%;
    width: 375px;  /* Set a fixed width */
  height: min-content;
  margin-right:20px
}
.th {
    padding: 5px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust border size */
    overflow-wrap: anywhere; /* Break long words */
    word-wrap: break-word;
    background-color: #1c5f3a;
    color:aliceblue;
    height:min-content


}
.td {
    padding: 5px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust border size */
    overflow-wrap: anywhere; /* Break long words */
   /* word-wrap: break-word;*/
    word-break: break-all;

}
.namer{
    width:100px;
}
.tableGrid{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(auto-fit, minmax(30%,1fr));*/
    gap:1rem;
}
.tableHolder{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min-content;
    gap:1rem;
    min-width: fit-content;
    align-items: normal;
    align-content: first baseline;
}
