.table {
box-sizing: border-box; 
    border-collapse: collapse; 
    padding: 0%;
    width: 375px;  
  height: min-content;
  margin-right:20px
}
.th {
    padding: 5px;
    border: 1px solid var(--defaultgrey); 
    overflow-wrap: anywhere;
    word-wrap: break-word;
    background-color: var(--controlelementcolor);
    color:var(--controlelementfont);
    height:min-content


}
.td {
    padding: 5px; 
    border: 1px solid var(--defaultgrey); 
    overflow-wrap: anywhere;
   
    word-break: break-all;

}
.namer{
    width:100px;
}
.tableGrid{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:1rem;
}
.tableHolder{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min-content;
    gap:1rem;
    min-width: fit-content;
    align-items: normal;
    align-content: first baseline;
}
