.button {
    background-color: #1c5f3a;
    color: #fff;
    cursor: pointer;
    align-self: center;
    margin:5px;
    margin-top:10px;
    padding: 10px;
    border-radius: 5%;
  }
  
  .button:hover {
    background-color: #124127;
  }