.button {
    background-color: #1c5f3a;
    
    border-radius: 5%;
    border-color: #fff;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    align-self: center;
    margin:5px;
    margin-top:10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .button:hover {
    background-color: #124127;
  }