.navigation_wrapper {
    display: flex;
    flex-direction:row;
    height: 100%;
    gap:1rem;
    flex:1
  }
  
  .sidebar {
    max-width:15em;
    min-width:min-content;
    height: 100%;  
    box-sizing: content-box;
    justify-content: center;
    justify-items: center;
  }
  
  .main {
    flex: 1;  /* Take the remaining space */
    padding: 5px 5px 10px 10px;  /* Main content padding */
    justify-self: right;
    width:100%;  
  }
 