.modalOverlayStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;

    
  
  }
  
 .modalContentStyle {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    justify-self: center;
  }
  
.closeButtonStyle {
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    border: 1px;
    justify-self: center;
  }