.modalOverlayStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border: 1px
    
  
  }
  
 .modalContentStyle {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
  }
  
.closeButtonStyle {
    background: none;
    border-radius: 5%;
    font-size: 20px;
    cursor: pointer;
    border: 1px
  }