.navigation_wrapper {
    display: flex;
    flex-direction:row;
    height: 100%;
  }
  
  .sidebar {
    width:15%;  
    height: 100%;  
    box-sizing: content-box;
  }
  
  .main {
    flex: 1;  /* Take the remaining space */
    padding: 20px;  /* Main content padding */
    justify-self: right;
    width:85%;  
  }