.nav {width:100%;
    background-color: #1c5f3a;
    color: #fff;
    height: 100%;
}
.li {
    padding: 5px;
}
.sidebar {
    width: 100%;  
    background-color: #1c5f3a;
    color: #fff;
    padding: 20px;  /* Padding for aesthetics */
    height: fit-content;  
    border-width: 1px;
    border-radius: 5%;
    box-sizing: border-box;
  }
.currentScheme{
    box-sizing: content-box;
    border-radius: 10%;
    padding: 5%;
    background-color: #08371d;
    color: #fff;
    height: fit-content;
    width:fit-content;
}