.li {
    padding: 5px;
    font-size: medium;
}
.activeTab{
    background-color: #08371d;
    color: #fff;
    height: fit-content;
    padding-left:10px
}
.sidebar {
    width: 100%;  
    background-color: #1c5f3a;
    color: #fff;
    padding: 20px;  /* Padding for aesthetics */
    padding-right: 0px;
    height: fit-content;  
    border-width: 1px;
    border-radius: 5%;
    box-sizing: border-box;
  }
