.navigation_wrapper {
    display: flex;
    flex-direction:row
  }
  
  .sidebar {
    width: min-content;  
    background-color: #1c5f3a;
    color: #fff;
    padding: 20px;  /* Padding for aesthetics */
    height: 100%;  
    border-width: 1px;
    border-radius: 5%;
    box-sizing: border-box;
  }
  
  .main {
    flex: 1;  /* Take the remaining space */
    padding: 20px;  /* Main content padding */
    justify-self: right;
  }