.navigation_wrapper {
    display: flex;
    flex-direction:row;
    height: 100%;
  }
  
  .sidebar {
    width:15%;  
    height: 100%;  
    box-sizing: content-box;
    justify-content: center;
    justify-items: center;
  }
  
  .main {
    flex: 1;  /* Take the remaining space */
    padding: 20px;  /* Main content padding */
    justify-self: right;
    width:100%;  
  }
  .currentScheme{
    flex: 1;
    box-sizing: content-box;
    border-radius: 10%;
    padding: 5%;
    background-color: #08371d;
    color: #fff;
    height: fit-content;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-left:1%;
    margin-right:1%
}