.navigation_wrapper {
    display: flex;
    flex-direction:row
  }
  
  .sidebar {
    width: min-content;  
 
    padding: 20px;  /* Padding for aesthetics */
    height: 100%;  
    border-width: 1px;
  }
  
  .main {
    flex: 1;  /* Take the remaining space */
    padding: 20px;  /* Main content padding */
    justify-self: right;
  }