.nav {width:max-content;
    background-color: #1c5f3a;
    color: #fff;
    height: 100%;
}
.li {
    padding: 5px;
}
.currentScheme{
    box-sizing: content-box;
    border-radius: 10%;
    padding: 5%;
    background-color: #08371d;
    color: #fff;
    height: fit-content;
    width:fit-content;
}