.table {width:100%;
box-sizing: border-box; /* Include padding and border in the table width */
    border-collapse: collapse; /* Combine border to avoid double spacing */
    padding: 0%;
}
.th {
    padding: 1px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust border size */
    overflow-wrap: anywhere; /* Break long words */
    word-wrap: break-word;
}
.td {
    padding: 1px; /* Adjust as needed */
    border: 1px solid #ccc; /* Adjust border size */
    overflow-wrap: anywhere; /* Break long words */
   /* word-wrap: break-word;*/
    word-break: break-all;
}
