.bar {
    border-radius: 1%;
    border-color: black;
    border-width: 1px;
    width:max-content;
    display:flex;
    flex-direction:row;
    padding-right:5px;
    padding-left: 5px;
    border:1px solid var(--foreground);
 
}
.name{
  margin: auto;
  padding-right: 10px;
}
.button {
    display: inline;
      background-color: #1c5f3a;
      color: #fff;
      cursor: pointer;
      min-width:25%;
      border-radius: 5%;
      margin:5px;
      padding: 1px 5px
  }
  .button:hover {
    background-color: #124127;
  }

  
  .editor {
    width: 100%;
    height:80vh;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: smaller;
  }
  .input {
    display: inline;
    width: 100%;
    word-wrap: break-word;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: smaller;
  }