.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6em,1fr));
    grid-auto-rows: min-content;
    gap: 1em;
    align-items: stretch; 
    justify-items: stretch;
    flex-grow: 1;
    background-color: lightgray;
    width: 100%;
    height: 80vh;
    border: 5px solid grey;
    overflow-y: hidden;
  }
  .loader{
    display: flex;
    justify-content: center;
    padding: 10vh
  }
  .CPset{
    cursor: pointer;
    width:6em;
font-size: small;
display: grid;
  }
  .CPget{
    width:6em;
font-size: small;
place-self: center;
display: grid;
  }
  .errs {
    margin:5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:20vh;
    padding: 4px;
    border: 1px solid var(--defaultgrey);
    border-radius: 5px;
    font-size: smaller;
    overflow-y: scroll;
  }
  .error{
    background-color: lightcoral;
  }
  @media (prefers-color-scheme: dark) {
    .error{background-color: rgb(127, 3, 3);}
    }
    .addMenu{
    gap: 1rem;
    border: 1px solid grey;
    border-radius: 5%;
    padding: 5% 20px;
    margin: 0px 3%
    }
    .icon{width:6em;grid-row: 1;
      grid-column: 1;
      z-index: 1;}

.closeButton {grid-row: 1;
  grid-column: 1;
  z-index: 2;
  width: min-content;
  height: min-content;
  justify-self: right;}
  .li{width:6em;}