.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
  }
  .containerInline {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    padding-left: 2px;
    border: 3px dotted crimson
  }
  .message{
    text-align: center;
  }
  .deleteButtonInline{
    background-color: crimson;
    padding: 0px 10px ;
    align-self: center;
  }

