.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; 
  }
  .containerInline {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    padding-left: 2px;
    border: 3px dotted crimson
  }
.closeButton {
    background-color: crimson;
    color: #fff;
    border-radius: 5%;
    cursor: pointer;
    place-self: end;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left:2px
  }
  .button{
    color: #fff;
    cursor: pointer;
    margin:5px;
    margin-top:10px;
    border-radius: 5%;
    border: 1px solid white;
    align-self: center;
  }
  .menuButton {
    background-color: #1c5f3a;
    padding: 10px;
  }
  
  .alterButton {
    background-color: #1c5f3a;
    justify-self: left;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  .deleteButton{
    background-color: crimson;
    padding: 10px;
  }
  .input {
    display: inline;
    width: 100%;
    word-wrap: break-word;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: smaller;
  }
  .fileInput{
    display: inline;
    width: 75%;
    justify-self: center;
    word-wrap: break-word;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
  }
  .message{
    text-align: center;
  }