.commandBar {
  border-radius: 1%;
  border-color: black;
  border-width: 1px;
  width:100%;
  display:flex;
  flex-direction:column;
  padding-right:5px;
  padding-left: 5px;
  
}
.select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:var(--foreground);
  background: var(--background);
  
  padding: 5px;
  font-size: smaller;
}
.input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: smaller;
  background-color: rgb(255, 255, 255);
}
.upcoming{
  background-color: aliceblue;
}
.done{
  background-color: lightgray;
}
.current{
  background-color: lightgoldenrodyellow;
}
.error{background-color: lightcoral;

}
.active{
  background-color: yellow !important
}