.commandBar {
  border-radius: 1%;
  border-color: black;
  border-width: 1px;
  width:100%;
  display:flex;
  flex-direction:column;
  padding:5px;
  padding: 5px;
  height: fit-content;
  
}
.deleteContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  width: 100%;
}
.deleteButton {
  place-self: end;
  background-color: darkred;
  cursor: pointer;
  padding-left: 1.25vh;
    padding-right: 1.25vh;
    padding-top: 0.1vh;
    padding-bottom: 0.1vh;
    border-radius: 5%;
}
.select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:var(--foreground);
  background: var(--background);
  padding: 5px;
  font-size: smaller;
}
.input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: smaller;
  color:var(--foreground);
  background: var(--background);
}
.radio {
display:inline;   
  margin-left:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: smaller;
  color:var(--foreground);
  background: var(--background);
}
.upcoming{
  background-color: lightgray;
}
.done{
  background-color: lightgreen;
}
.current{
  background-color: lightseagreen;
}
.error{background-color: lightcoral;

}
.active{
  background-color: yellow !important
}

@media (prefers-color-scheme: dark) {
  .upcoming{
    background-color: rgb(66, 83, 97);
  }
  .done{
    background-color: #1d7300;
  }
  .current{
    background-color: rgb(0, 138, 136);
  }
  .error{background-color: rgb(127, 3, 3);
  
  }
  .active{
    background-color: rgb(50, 0, 150) !important
  }
}
.label{
  margin-top: auto;
  margin-bottom: 1px;
}