.eba {
    width: 100%;  
    background-color: #fff;
    padding: 10px;
    height: 100%;  
    border-width: 5px;
    border-radius: 10%;
    text-align: center;
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    .error{
        color: #fff!important;
        background-color: #eb1e3a;
        border-color: #eb1e3a;
    }
    .ok{
        color: #fff!important;
        background-color: #1c5f3a;
        border-color: #1c5f3a;
    }
    .none{
        color: #fff!important;
        background-color: #969696;
        border-color: #969696;
    }
}
.ok{
    color: #ffffff;
    border-color: #1c5f3a;
}
.error {
    color: #eb1e3a;
    border-color: #eb1e3a;
}
.none{
    color: #969696;
    border-color: #969696;
}
.header{
    text-decoration: underline;
    text-align: center;
}