.eba {
    flex: 1;
    width: 100%;  
    background-color: var(--background);
    padding: 10px;
    height: 100%;  
    border-width: 5px;
    border-radius: 10%;
    text-align: center;
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    .error{
        color: var(--foreground)!important;
        background-color: var(--defaultred);
        border-color: var(--defaultred);
    }
    .ok{
        color: var(--foreground)!important;
        background-color: var(--controlelementcolor);
        border-color: var(--controlelementcolor);
    }
    .none{
        color: var(--foreground)!important;
        background-color: var(--defaultgrey);
        border-color: var(--defaultgrey);
    }
}
.ok{
    color: var(--controlelementcolor);
    border-color: var(--controlelementcolor);
}
.error {
    color: var(--defaultred);
    border-color: var(--defaultred);
}
.none{
    color: var(--defaultgrey);
    border-color: var(--defaultgrey);
}