.form {
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin:10px;
}

.label {
  display: block;
  margin-top: 5px;
}


.radio{
  padding-left: 5%;
  background-color: white;
  color: #333;
  font-size: smaller;
  }
.select {
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: #333;
  padding: 4px;
  font-size: smaller;
}
.button {
  width: fit-content;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.option {
  padding: 10px;
  background-color: white;
  color: #333;
  font-size: smaller;
  }

.input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: smaller;
}

.button {
  background-color: #1c5f3a;
  color: #fff;
  cursor: pointer;
  align-self: center;
  margin:5px;
  margin-top:10px;
}

.button:hover {
  background-color: #124127;
}
.header{
  text-align: center;
  font-size: larger;
  text-decoration: underline;
  text-decoration-color: #1c5f3a;
  text-decoration-line: underline;
  text-decoration-style: solid;
  padding-bottom: 10px;
  
}