.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--defaultgrey);
  border-radius: 5%;
  background-color: var(--formbackground);

}
.non_modal_form{
  min-width: 24em;
  max-width: 48em;
  width: fit-content !important;
}

.label {
  display: block;
  margin-top: 5px;
}

.radio{
  padding-left: 5%;
  font-size: smaller;
  }

