.modalOverlayStyle {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-width: 5px;
    border-color: crimson;
    border-radius: 5%;
    justify-items: center;
    align-items: center;  
  box-shadow: 50px gray;
}
  
 .modalContentStyle {
  display: flex;
    flex-direction: column;
    background-color: #fff;
    padding:5px;
    justify-self: center;
    box-shadow: 50px gray;
  }
  
.closeButtonStyle {
    background: crimson;
    border: 1px solid #ccc;
    border-radius: 5%;
    cursor: pointer;
    justify-self: center;
    margin: 10px;
    padding: 5px;
  }
  .header{
    text-align: center;
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: #1c5f3a;
    text-decoration-line: underline;
    text-decoration-style: solid;
    padding-bottom: 10px;
    
  }